body{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Myfont;
    src: url(./Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: Myfont2;
    src: url(./Nunito-ExtraLight.ttf);
}

.header{
    height: 55px;
    width: 100%;
}

.logo{
    max-width: 220px;
    margin-left: 70px;
    margin-top: 20px;
    float: left;
}

.menu{
    float: none;
    text-align: center;
    font-size: 15px;
    list-style: none;
    margin-top: 50px;
    margin-left: 80px;
    display: inline-block;   
    font-family: 'Myfont', cursive; 
}

#menuform{
    margin-right: 50px;
    display: inline-block;
    
}

a{
    text-decoration: none;
    color: black
}

.active:hover{
    color: rgb(160, 159, 158);
}

footer{
    font-family: 'Myfont2', cursive; 
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.socialmedia{
    max-width: 35px;
    float: right;
    margin-top: 50px;
}

.instagram{
    margin-right: 120px;
}

/* **** PÁGINA INÍCIO **** */

.amanda{
    margin-top: 40px;
}

/* **** PÁGINA A FOTÓGRAFA **** */

.formcontainer{
    padding-top: 50px;
    text-align: justify;
    max-width: 600px;
    font-family: 'Myfont2', cursive;
    margin: auto;
}
.titleabout{
    font-family: 'Myfont', cursive; 
    font-size: 20px;
}

.perfil{
    overflow: hidden;
    float: right;
    max-width: 200px;
    margin-left: 30px;
    margin-top: 65px;
}

/* **** PÁGINA EXPOSIÇÃO **** */

.container{
    text-align: center;
    padding-top: 20px;
}

.picform{
    max-width: 350px;
}

#picform{
    list-style: none;
    display: inline-block;
}

#picform:hover{
    opacity: 60%;
}

/* **** PÁGINA FALE COMIGO **** */

.contact{
    padding-top: 40px;
    text-align: justify;
    max-width: 500px;
    font-family: 'Myfont2', cursive;
    margin: auto;
}

.titlecontact{
    font-family: 'Myfont', cursive;
    font-size: 28px;
}

#box{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 20px;
}

.msg{
    height: 80px;   
}

#option{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 108%;
    padding: 20px;
    color: gray;
}

.button{
    float: right;
    background-color: white;
    width: 100px;
    height: 30px;
    box-shadow: black;
}